<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite</title>
</head>
<body>
    <h1>Willkommen auf der Startseite</h1>
    <p>Bitte wählen Sie eine der folgenden Seiten aus:</p>
    <ul>
        <li><a href='standard.html'>Link zur Seite</a></li>
        <li><a href='knook.html'>Zur Knook-Seite</a></li>
        <li><a href="puzzle.html">Zur Puzzle-Seite</a></li>
    </ul>
</body>
</html>